@{
    ViewData["Title"] = "Calculator Page";
}
<div>My calculator</div>
<form method="post" asp-controller="Home" asp-action="CalculatorPage">
    <input id="fnum" name="fnum" />
    <select id="operation" name="operation">
        <option>+</option>
        <option>-</option>
        <option>*</option>
        <option>/</option>
    </select>
    <input id="snum" name="snum" />
    <input type="submit" value="Result" />    
</form>

    @{ 
        foreach (string e in Model)
        {
            <li>@e</li>
        }
     }
